@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tooltip {
    @apply relative inline-block;
  }
  .tooltip-content {
    @apply py-2 text-xs  w-auto min-w-max flex items-center justify-center px-2 absolute z-20 origin-bottom bottom-12  inset-x-0 scale-0 translate-x-10  bg-neutral-200 border border-neutral-300 rounded-lg transition-all duration-150;
  }
}

@font-face {
  font-family: "raqami";
  src: local("Raqami"), url(../assets/fonts/Raqami.ttf) format("ttf");
}

body {
  direction: rtl;
}
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
